# JJA mean

In [ ]:
"""This script provides a function for the calculation of the JJA mean from given arrays. The module has to be imported 
to any other script where JJA mean need to be calculated."""

In [2]:
#after changes in the script using Jupyter notebook, save, and run this:
#get_ipython().system(u'jupyter nbconvert --to=python jja_mean.ipynb')

[NbConvertApp] Converting notebook jja_mean.ipynb to python
[NbConvertApp] Writing 2152 bytes to jja_mean.py

In [ ]:
    def jja_mean(datam):
        """
        this function calculates the JJA mean for a 3d (t,y,x), 2d (t,y,x) 
        or 1d (t) variable. Assumes that the months go from January-December, so JJA corresponds
        to the indices [6,7,8]

        """
        import numpy as np
        nn = np.shape(datam)
        nt = nn[0]
        
        dimt = len(nn) #time dimension along which to average!
        if dimt ==3:
            nx = nn[2]
            ny = nn[1]
            var_jja_mean = np.nan * np.zeros((int(np.floor(nt/12)), ny, nx))
            for t in range(0,int(np.floor(nt/12))):
                ind1 = t*12+5
                ind2 = t*12+6
                ind3 = t*12+7
                datamB = datam[[ind1,ind2,ind3],:,:]
                var_jja_mean[t,:,:] = np.nanmean(datamB, axis=0)
                
        elif dimt ==2:
            ny = nn[1]
            var_jja_mean = np.nan * np.zeros((int(np.floor(nt/12)), ny))
            for t in range(0,int(np.floor(nt/12))):
                ind1 = t*12+5
                ind2 = t*12+6
                ind3 = t*12+7
                datamB = datam[[ind1,ind2,ind3],:]
                var_jja_mean[t,:] = np.nanmean(datamB, axis=0)
                
        elif dimt ==1:
            var_jja_mean = np.nan * np.zeros((int(np.floor(nt/12))))
            for t in range(0,int(np.floor(nt/12))):
                ind1 = t*12+5
                ind2 = t*12+6
                ind3 = t*12+7
                datamB = datam[[ind1,ind2,ind3]]
                var_jja_mean[t] = np.nanmean(datamB, axis=0)
        else:
            raise ValueError('Input dimensions not suitable.')
        return var_jja_mean

#test
import numpy as np
from netCDF4 import Dataset
gcb_data = Dataset('../Output/gcb_load.nc')
roeden_spco2_1x1 = gcb_data['roeden_spco2_1x1'][:]

mean = annualmean(roeden_spco2_1x1)
print np.shape(roeden_spco2_1x1), np.shape(mean)